/data/.env
/venv/
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/.gitignore
/.idea/bot_test_why_not.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
